body {
  font-family: 'Arial';
  margin: 0;
  padding: 0;
}

.header {
  background-color: #7CD0F7;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.header h1 {
  color: #fff;
  margin: auto;
}


.main {
  text-align: center;
  width: 100%;
}

.main textarea {
  font-size: 16px;
  height: 400px;
  padding: 8px;
  width: 600px;
}

.main .blacklist-input {
  height: 80px;
}

.feedback {
  margin: auto;
  margin-bottom: 20px;
  width: 620px;
}

.feedback .codeObject, .blacklist-error {
  border-radius: 10px;
  color: white;
  display: inline-block;
  padding: 5px 10px;
  margin: 10px;
}

.feedback .validObject {
  background-color: green;
}

.feedback .invalidObject {
  background-color: red;
}

.feedback .validObject .name {
  background-color: white;
  border-radius: 10px;
  padding: 2px 8px;
}

.feedback .validObject .name {
  color: green;
}

.blacklist-error {
  background-color: red;
  display: block;
}
