<!DOCTYPE html>
<html lang="en" ng-app="challenge">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Challenge App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app/styles/main.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.8.2/lodash.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
  <script src="//cdn.rawgit.com/jquery/esprima/2.7.2/esprima.js"></script>
  <!--<script src="app/js/lodash.js"></script>
  <script src="app/js/angular.js"></script>
  <script src="app/js/esprima.js"></script>-->
  <script src="app/js/app.js"></script>
  <script src="app/js/mainController.js"></script>
  <script src="app/js/mainService.js"></script>
</head>
<body ng-controller="MainController">
  <div class="header">
    <h1>Challenge App</h1>
  </div>
  <div class="main">
    <h3>Instructions</h3>
    <p>Use the settings boxes below to test the code by providing an individual item or comma separated list. The settings will be automatically parsed and checked against the code using Angular's watch cycle.</p>
    <p>Supported items are: if, for, forin, function, var, while.</p>
    <p>Direct structure is indicated with parent, thin arrow, then child: example "if -> var"
    <div class="settings-section">
      <h4>Blacklist</h4>
      <textarea class="blacklist-input" ng-model="blacklistedItems" ng-model-options="{debounce: 500}" placeholder="Example: if, for, while"></textarea>
    </div>
    <div class="settings-section">
      <h4>Whitelist</h4>
      <textarea class="whitelist-input" ng-model="whitelistedItems" ng-model-options="{debounce: 500}" placeholder="Example: if, for, while"></textarea>
    </div>
    <p>Enter the code to test here. Messages will show underneath indicating results.</p>
    <textarea ng-model="userCode" ng-model-options="{debounce: 1000}" ng-class="{blacklisted: blacklistMessages.length > 0}"></textarea>
    <div class="feedback">
      <div ng-show="errors" class="errors">{{errors}}</div>
      <div ng-show="blacklistMessages.length > 0" class="blacklist-error" ng-repeat="message in blacklistMessages">{{message.text}}</div>
      <div ng-show="whitelistMessages.length > 0" class="whitelist-message" ng-repeat="message in whitelistMessages">{{message.text}}</div>
      <div ng-show="sharedItems.length > 0" class="shared-item-message" ng-repeat="item in sharedItems">Settings Error: The same statement ({{item}}) is both required and not permitted.</div>
      <div ng-show="checkedBlacklistStructures.length > 0 && structure.structureFound" class="blacklist-error" ng-repeat="structure in checkedBlacklistStructures">This exercise requires that you do not use {{structure.child}} inside a {{structure.parent}}.</div>
      <div ng-show="checkedWhitelistStructures.length > 0 && structure.structureFound" class="whitelist-message" ng-repeat="structure in checkedWhitelistStructures">You met the requirement to have a {{structure.child}} inside a {{structure.parent}}.</div>
    </div>
    <!-- <div class="syntaxTree">{{syntaxTree}}</div> -->
  </div>
</body>
</html>
