<!DOCTYPE html>
<html lang="en" ng-app="challenge">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Challenge App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.7.0/lodash.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
  <script src="//cdn.rawgit.com/jquery/esprima/2.7.2/esprima.js"></script>
  <script src="js/app.js"></script>
  <script src="js/mainController.js"></script>
  <script src="js/mainService.js"></script>
</head>
<body ng-controller="MainController">
  <div class="header">
    <h1>Challenge App</h1>
  </div>
  <div class="main">
    <div>
      <h3>Settings</h3>
      <!-- <input type="checkbox" value="false" ng-model="ifNotAllowed">
      <label>If statements not allowed</label> -->
      <label>Enter blacklisted statements, separated by commas</label>
      <textarea class="blacklist-input" ng-model="blacklistedItems" ng-model-options="{debounce: 500}" placeholder="Example: if, for, while"></textarea>
    </div>
    <h3>Input Code</h3>
    <textarea ng-model="userCode" ng-model-options="{debounce: 2000}"></textarea>
    <div class="feedback">
      <div ng-show="errors" class="errors">{{errors}}</div>
      <div ng-show="blacklistMessages.length > 0" class="blacklist-error" ng-repeat="message in blacklistMessages">{{message.text}}</div>
      <br>
      <div ng-show="functions.length > 0">
        <div class="codeObject" ng-repeat="function in functions">
          <span>function </span>
          <span ng-if="function.id.name" class="name">{{function.id.name}}</span>
        </div>
      </div>
      <div ng-show="ifStatements.length > 0">
        <div class="codeObject" ng-class="{validObject: !ifNotAllowed, invalidObject: ifNotAllowed}" ng-repeat="statement in ifStatements">
          <span>if statement </span>
        </div>
      </div>
    </div>
    <div class="syntaxTree">{{syntaxTree}}</div>
  </div>
</body>
</html>
